/*-------------- Tablet ----------------*/

@media only screen and (max-width: 1170px) {
  .controls {
    button {
      font-size: 32px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .dweeb-container {
    max-height: 600px;
    .dweeb-name {
      font-size: 32px;
    }
  }
}

@media only screen and (max-width: 840px) {
  .controls {
    padding: 80px 15px 0 15px;
    button {
      padding: 25px 10px;
    }
  }
  .attributes-selection {
    display: flex;
    flex-direction: column;
  }
  .attributes-selection {
    select {
      margin: 0 0 7px 0;
    }
  }
}

@media only screen and (max-width: 700px) {
  .game-wrapper {
    grid-template-columns: 1fr 100px 1fr;
  }
  .controls {
    padding: 80px 10px 0 10px;
    max-width: 100px;
    button {
      max-width: 100%;
      font-size: 16px;
      padding: 25px 10px;
    }
  }

  span.life-label {
    font-size: 5px;
  }
}

/*-------------- Phone ----------------*/

@media only screen and (max-width: 645px) {
  .game-wrapper {
    grid-template-columns: 1fr 80px 1fr;
    padding: 0 10px;
  }
  .dweeb-container {
    .dweeb-name {
      font-size: 24px;
    }
  }
  .attributes-selection {
    select {
      font-size: 13px;
    }
  }
  .controls {
    padding: 45px 5px 0 5px;
    button {
      padding: 15px 8px;
      min-height: 70px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 390px) {
  .dweeb-container {
    .dweeb-name {
      font-size: 18px;
    }
  }

  .dweeb-container {
    max-height: 420px;
  }
  .attributes-selection {
    select {
      font-size: 10px;
      padding: 5px 3px;
      margin: 0 0 5px 0;
    }
  }
}

@media only screen and (max-width: 320px) {
  .attributes-selection {
  }
}
